force-app/main/default/flows/Account_Updated_Field_To_Oppty_PMI_id.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Account Updated Field To Oppty PMI id {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Updated Field To Oppty PMI id</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>PMI_ID_Update_Account_PMI_Id</name>
        <label>PMI ID Update Account PMI Id</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Updated_Email_Account_to_Oppty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PMI_ID__c</field>
            <value>
                <elementReference>$Record.PMI_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account_Training_Information__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Updated_Email_Account_to_Oppty</name>
        <label>Updated Email Account to Oppty</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0122w000002Ib52AAC</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Email1_Primary__c</field>
            <value>
                <elementReference>$Record.Email1_Primary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email2_Secondary__c</field>
            <value>
                <elementReference>$Record.Email2_Secondary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile1_Primary__c</field>
            <value>
                <elementReference>$Record.Mobile1_Primary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile2_Secondary__c</field>
            <value>
                <elementReference>$Record.Mobile2_Secondary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Type__c</field>
            <value>
                <elementReference>$Record.Account_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PMI_ID_Update_Account_PMI_Id</targetReference>
        </connector>
        <filterLogic>((1 OR 2 OR 4) AND 3 )</filterLogic>
        <filters>
            <field>PMI_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email1_Primary__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0122w000002Ib49AAC</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account_Type__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
