force-app/main/default/flows/ATI_Update4_Fields_Email_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ATI_Email_Send</name>
        <label>ATI Email Send</label>
        <locationX>634</locationX>
        <locationY>103</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_Email_Flow_For_ATI</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>{!$Record.Account__r.Email1_Primary__c},mentoring@infocareerindia.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>emailstore</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>IC Leaf- Portal Access</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ATIFieldsTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Flow_For_ATI</name>
        <label>Send Email Flow For ATI</label>
        <locationX>805</locationX>
        <locationY>87</locationY>
        <actionName>LogACall</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Email Sent : ATI Object Updated User Name/Password/Expire Date</stringValue>
            </value>
        </inputParameters>
        <nameSegment>LogACall</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>ATI Update4 Fields Email Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ATI Update4 Fields Email Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>121</locationX>
        <locationY>78</locationY>
        <connector>
            <targetReference>ATI_Email_Send</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Password__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Access_Expiry_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account_Training_Information__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>ATIFieldsTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 12pt; color: black;&quot;&gt;Dear &lt;/span&gt;&lt;strong style=&quot;font-size: 11pt; color: black; font-family: Calibri, sans-serif; background-color: white;&quot;&gt;{!$Record.Account__r.Full_Name__c}&lt;/strong&gt;&lt;span style=&quot;font-size: 12pt; color: black;&quot;&gt;,{!$Record}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11.5pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: rgb(36, 36, 36);&quot;&gt;We are pleased to inform you that your access to the&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;font-size: 12pt; font-family: Aptos, sans-serif; color: black;&quot;&gt;{!$Record.Course__r.Name}&lt;/strong&gt;&lt;span style=&quot;font-size: 12pt; font-family: Aptos, sans-serif; color: black;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 11.5pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: rgb(36, 36, 36);&quot;&gt;online learning portal has been created.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11.5pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: rgb(36, 36, 36);&quot;&gt;Please find below your login credentials:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11.5pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: rgb(36, 36, 36);&quot;&gt;Username:&lt;/strong&gt;&lt;span style=&quot;font-size: 11.5pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: rgb(36, 36, 36);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 10pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: rgb(68, 68, 68);&quot;&gt;{!$Record.User_Name__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11.5pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: rgb(36, 36, 36);&quot;&gt;Password:&lt;/strong&gt;&lt;span style=&quot;font-size: 11.5pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: rgb(36, 36, 36);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 10pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: rgb(68, 68, 68);&quot;&gt;{!$Record.User_Name__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 11.5pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: rgb(36, 36, 36);&quot;&gt;Expiry Date:&amp;nbsp;&lt;/strong&gt;&lt;span style=&quot;font-size: 10pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: rgb(68, 68, 68);&quot;&gt;{!$Record.Access_Expiry_Date__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11.5pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: rgb(36, 36, 36);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11.5pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: rgb(36, 36, 36);&quot;&gt;Please note that your access will expire on &lt;/span&gt;&lt;strong style=&quot;font-size: 10pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: rgb(68, 68, 68);&quot;&gt;{!$Record.Access_Expiry_Date__c}&lt;/strong&gt;&lt;span style=&quot;font-size: 10pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: rgb(68, 68, 68);&quot;&gt;,&lt;/span&gt;&lt;span style=&quot;font-size: 11.5pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: rgb(36, 36, 36);&quot;&gt; after which you will no longer be able to access the portal.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11.5pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: rgb(36, 36, 36);&quot;&gt;Once logged in, you can access course materials and begin your learning journey.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11.5pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: rgb(36, 36, 36);&quot;&gt;If you encounter any issues or have any questions, please do not hesitate to contact us.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11.5pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: rgb(36, 36, 36);&quot;&gt;We wish you all the best for your learning journey and hope you find the course both informative and enjoyable.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11.5pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: rgb(68, 68, 68);&quot;&gt;Warm Regards,&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11.5pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: rgb(36, 36, 36);&quot;&gt;Leela&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11.5pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: rgb(36, 36, 36);&quot;&gt;Contact: 95662 61931 | 91500 58954&amp;nbsp;|&amp;nbsp;73581 45648&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11.5pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: rgb(36, 36, 36);&quot;&gt;Mentoring Division, InfoCareer&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11.5pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: rgb(36, 36, 36);&quot;&gt;For Any Queries / Support:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11.5pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: rgb(36, 36, 36);&quot;&gt;Email: &lt;/span&gt;&lt;a href=&quot;mailto:mentoring@infocareerindia.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 11.5pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: blue;&quot;&gt;Support&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11.5pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: rgb(36, 36, 36);&quot;&gt;Infocareer: &lt;/span&gt;&lt;a href=&quot;http://www.infocareerindia.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 11.5pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: blue;&quot;&gt;Mentoring&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11.5pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: rgb(36, 36, 36);&quot;&gt;WhatsApp: &lt;/span&gt;&lt;a href=&quot;https://wa.link/tlkm1t&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 11.5pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: blue;&quot;&gt;Support&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11.5pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: rgb(36, 36, 36);&quot;&gt;YouTube:&lt;/span&gt;&lt;a href=&quot;https://www.youtube.com/c/Infocareer?sub_confirmation=1&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 11.5pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: blue;&quot;&gt; Subscribe&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11.5pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: rgb(36, 36, 36);&quot;&gt;Google: &lt;/span&gt;&lt;a href=&quot;https://goo.gl/2Mdjyu&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 11.5pt; font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; color: blue;&quot;&gt;Reviews&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>emailstore</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>mentoring@infocareerindia.com</stringValue>
        </value>
    </variables>
</Flow>
