force-app/main/default/flows/ATIBatchChangeEmail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ATIBatchChangeEmail</name>
        <label>ATIBatchChangeEmail</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>BatchChangingEmail</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ATIBatchChangeTemp</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>{!$Record.Account__r.Email1_Primary__c},mentoring@infocareerindia.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>ATIBatchChangeSubj</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>BatchChangingEmail</name>
        <label>BatchChangingEmail</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>LogACall</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Email Sent - Batch Reschedule</stringValue>
            </value>
        </inputParameters>
        <nameSegment>LogACall</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Batch_Changing_decision</name>
        <label>Batch Changing decision</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>true_Conditions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Batch__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Batch__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ATIBatchChangeEmail</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>true Conditions</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ATIBatchChangeEmail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ATIBatchChangeEmail</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Batch_Changing_decision</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR 2</filterLogic>
        <filters>
            <field>Batch__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Batch__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account_Training_Information__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ATIBatchChangeSubj</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Infocareer: {!$Record.Batch__r.Course__r.Name} Batch Confirmation</text>
    </textTemplates>
    <textTemplates>
        <name>ATIBatchChangeTemp</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.Account__r.Full_Name__c},&lt;/p&gt;&lt;p&gt;Greetings From Infocareer!!!!&lt;/p&gt;&lt;p&gt;We are pleased to inform you that your batch change request has been confirmed. You are now part of {!$Record.Batch__r.Batch_Code__c} and the new batch will start {!$Record.Batch__r.Training_Start_Date__c}.&lt;/p&gt;&lt;p&gt;We look forward to seeing you in the new batch and wish you a successful learning experience.&lt;/p&gt;&lt;p&gt;If you have any questions or concerns, please do not hesitate to contact us.&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Warm Regards,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!$User.LastName}&lt;/p&gt;&lt;p&gt;Contact: 95662 61931 | 91500 58954&amp;nbsp;|&amp;nbsp;73581 45648&lt;/p&gt;&lt;p&gt;Mentoring Division, InfoCareer&lt;/p&gt;&lt;p&gt;For Any Queries / Support:&lt;/p&gt;&lt;p&gt;Email: &lt;a href=&quot;mailto:mentoring@infocareerindia.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Support&lt;/a&gt;&lt;/p&gt;&lt;p&gt;Infocareer: &lt;a href=&quot;http://www.infocareerindia.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Mentoring&lt;/a&gt;&lt;/p&gt;&lt;p&gt;WhatsApp: &lt;a href=&quot;https://wa.link/tlkm1t&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Support&lt;/a&gt;&lt;/p&gt;&lt;p&gt;YouTube:&lt;a href=&quot;https://www.youtube.com/c/Infocareer?sub_confirmation=1&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt; Subscribe &lt;/a&gt;&lt;/p&gt;&lt;p&gt;Google: &lt;a href=&quot;https://goo.gl/2Mdjyu&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Reviews&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
