force-app/main/default/flows/Attaching_PDU_With_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>AssaigningData</name>
        <label>AssaigningData</label>
        <locationX>975</locationX>
        <locationY>306</locationY>
        <assignmentItems>
            <assignToReference>AssaigningTotalClaimData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopongPdus.Claimed_PDU__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopongPdus</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Is_Connected_Or_Not</name>
        <label>Account Is Connected Or Not</label>
        <locationX>436</locationX>
        <locationY>326</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Records</targetReference>
            </connector>
            <label>Account Null</label>
        </rules>
        <rules>
            <name>Account_Connected_With_PDU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Getting_PDU_Records_related_to_this_account</targetReference>
            </connector>
            <label>Account Connected With PDU</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Attaching PDU With Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Attaching PDU With Account</label>
    <loops>
        <name>LoopongPdus</name>
        <label>LoopongPdus</label>
        <locationX>885</locationX>
        <locationY>213</locationY>
        <collectionReference>PDU_Records_Store</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssaigningData</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>TotalClaimedPduAtAccount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Records</name>
        <label>Get Account Records</label>
        <locationX>260</locationX>
        <locationY>295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Account_Field</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PMI_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PMI_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getting_PDU_Records_related_to_this_account</name>
        <label>Getting PDU Records related to this account</label>
        <locationX>732</locationX>
        <locationY>301</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopongPdus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </filters>
        <object>PDU_Claim__c</object>
        <outputReference>PDU_Records_Store</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Claimed_PDU__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>TotalClaimedPduAtAccount</name>
        <label>TotalClaimedPduAtAccount</label>
        <locationX>911</locationX>
        <locationY>34</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Claimed_PDU__c</field>
            <value>
                <elementReference>AssaigningTotalClaimData</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_Field</name>
        <label>Update Account Field</label>
        <locationX>161</locationX>
        <locationY>346</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Account_Records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>355</locationX>
        <locationY>14</locationY>
        <connector>
            <targetReference>Account_Is_Connected_Or_Not</targetReference>
        </connector>
        <object>PDU_Claim__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AssaigningTotalClaimData</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>AssaigningTotalClaimedPDU1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>PDU_Records_Store</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PDU_Claim__c</objectType>
    </variables>
    <variables>
        <name>PduRecordsStore1</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PDU_Claim__c</objectType>
    </variables>
</Flow>
