force-app/main/default/flows/Congratulations_Email_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Congratulation_Mail</name>
        <label>Congratulation Mail</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Congratulations_Mail_Sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>CongratulationsTemp</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>{!$Record.Account__r.Email1_Primary__c},mentoring@infocareerindia.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Congratulations!</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Congratulations_Mail_Sent</name>
        <label>Congratulations Mail Sent</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>LogACall</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Congratulations Email Sent</stringValue>
            </value>
        </inputParameters>
        <nameSegment>LogACall</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Congratulations Email Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Congratulations Email Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Congratulation_Mail</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Certificate_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account_Training_Information__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CongratulationsTemp</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: Calibri, Arial, Helvetica, sans-serif, serif, EmojiFont;&quot;&gt;HI&amp;nbsp;{!$Record.Account__r.Full_Name__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Greetings form Infocareer!!!!&amp;nbsp;&lt;span style=&quot;font-family: inherit; color: inherit;&quot;&gt;Have a great day.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: inherit; color: inherit;&quot;&gt;You have achieved a professional milestone by earning the {!$Record.Course__r.Name} certification.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: inherit; color: inherit;&quot;&gt;We congratulate you on this achievement and are excited to welcome you as one of our Infocareer Community.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: inherit; color: inherit;&quot;&gt;Thank you for making us part of this important moment in your career.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: inherit;&quot;&gt;1. Please kindly give your&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;font-size: inherit;&quot;&gt;Valuable feedback about cleared&lt;/strong&gt;&lt;strong style=&quot;font-size: inherit; font-family: inherit; color: inherit;&quot;&gt;&amp;nbsp;PMP&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;Google reviews:&amp;nbsp;&lt;a href=&quot;https://g.page/Infocareerindia/review&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: inherit;&quot;&gt;https://g.page/Infocareerindia/review&lt;/a&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: inherit; color: inherit;&quot;&gt;2. &lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Please k&lt;/span&gt;&lt;span style=&quot;color: inherit; font-family: inherit;&quot;&gt;indly share your Image&lt;/span&gt;&lt;strong&gt;&amp;nbsp;for posting&lt;/strong&gt;&lt;span style=&quot;font-family: inherit; color: inherit;&quot;&gt;&amp;nbsp;on social media&lt;/span&gt;&lt;/p&gt;&lt;p&gt;For more:&lt;span style=&quot;font-family: inherit; color: inherit;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://www.roadtoprojectsuccess.com/p/halloffame&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: inherit;&quot;&gt;https://www.roadtoprojectsuccess.com/p/halloffame&lt;/a&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;3.&amp;nbsp;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Please k&lt;/span&gt;indly follow us in FB, LinkedIn, Instagram, Twitter, YouTube&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Mentoring:&lt;/strong&gt;&lt;span style=&quot;font-family: inherit; color: inherit;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://linktr.ee/InfoCareerGLSekhar&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: inherit;&quot;&gt;https://linktr.ee/InfoCareerGLSekhar&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: inherit;&quot;&gt;4.&lt;/span&gt;&lt;span style=&quot;font-size: inherit; font-family: inherit; color: inherit;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;font-size: inherit;&quot;&gt;How to gain 60 PDU&apos;s:&lt;/strong&gt;&lt;span style=&quot;font-size: inherit;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://www.pmi.org/certifications/certification-resources/maintain&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: inherit; font-family: Calibri, Arial, Helvetica, sans-serif;&quot;&gt;https://www.pmi.org/certifications/certification-resources/maintain&lt;/a&gt;&lt;span style=&quot;font-size: inherit;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Warm Regards,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!$User.LastName}&lt;/p&gt;&lt;p&gt;Contact: 95662 61931 | 91500 58954&amp;nbsp;|&amp;nbsp;73581 45648&lt;/p&gt;&lt;p&gt;Mentoring Division, InfoCareer&lt;/p&gt;&lt;p&gt;For Any Queries / Support:&lt;/p&gt;&lt;p&gt;Email: &lt;a href=&quot;mailto:mentoring@infocareerindia.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Support&lt;/a&gt;&lt;/p&gt;&lt;p&gt;Infocareer: &lt;a href=&quot;http://www.infocareerindia.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Mentoring&lt;/a&gt;&lt;/p&gt;&lt;p&gt;WhatsApp: &lt;a href=&quot;https://wa.link/tlkm1t&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Support&lt;/a&gt;&lt;/p&gt;&lt;p&gt;YouTube:&lt;a href=&quot;https://www.youtube.com/c/Infocareer?sub_confirmation=1&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt; Subscribe &lt;/a&gt;&lt;/p&gt;&lt;p&gt;Google: &lt;a href=&quot;https://goo.gl/2Mdjyu&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Reviews&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
