force-app/main/default/flows/LeadCourseLookUpUpdateFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>LeadCourseLookUpUpdateFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LeadCourseLookUpUpdateFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>CourseRecord</name>
        <label>CourseRecord</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CourseLookUpUpdate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Course_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Course_Code__c</elementReference>
            </value>
        </filters>
        <object>Course__c</object>
        <outputReference>CourseRecordVariable</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Course_Code__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>CourseLookUpUpdate</name>
        <label>CourseLookUpUpdate</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Course_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CourseRecordVariable.Course_Code__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Course__c</field>
            <value>
                <elementReference>CourseRecordVariable.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CourseRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Course_Code__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0122w000002Ib4sAAC</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CourseLookUpID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>courseLookUpRecord.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>courseLookUpRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Course__c</objectType>
    </variables>
    <variables>
        <name>CourseRecordVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Course__c</objectType>
    </variables>
</Flow>
