force-app/main/default/flows/LeadCourseTempEmail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AutoLeadEmail</name>
        <label>AutoLeadEmail</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>LogACall</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Email sent - Registeration link </stringValue>
            </value>
        </inputParameters>
        <nameSegment>LogACall</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>TestEmailLead</name>
        <label>TestEmailLead</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>AutoLeadEmail</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>CourseEmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>{!$Record.Email1_Primary__c},mentoring@infocareerindia.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>CourseDetailSubj</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>LeadCourseTempEmail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LeadCourseTempEmail</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>TestEmailLead</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0122w000002Ib4sAAC</stringValue>
            </value>
        </filters>
        <filters>
            <field>Lead_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CourseDetailSubj</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Course__r.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>CourseEmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.Name},&lt;/p&gt;&lt;p&gt;{!$Record.Course__r.Email_Content__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Warm Regards,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!$Record.Owner:User.LastName}&lt;/p&gt;&lt;p&gt;Contact: 95662 61931 | 91500 58954&amp;nbsp;|&amp;nbsp;73581 45648&lt;/p&gt;&lt;p&gt;Mentoring Division, InfoCareer&lt;/p&gt;&lt;p&gt;For Any Queries / Support:&lt;/p&gt;&lt;p&gt;Email: &lt;a href=&quot;mailto:mentoring@infocareerindia.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Support&lt;/a&gt;&lt;/p&gt;&lt;p&gt;Infocareer: &lt;a href=&quot;http://www.infocareerindia.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Mentoring&lt;/a&gt;&lt;/p&gt;&lt;p&gt;WhatsApp: &lt;a href=&quot;https://wa.link/tlkm1t&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Support&lt;/a&gt;&lt;/p&gt;&lt;p&gt;YouTube:&lt;a href=&quot;https://www.youtube.com/c/Infocareer?sub_confirmation=1&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt; Subscribe &lt;/a&gt;&lt;/p&gt;&lt;p&gt;Google: &lt;a href=&quot;https://goo.gl/2Mdjyu&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Reviews&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
