force-app/main/default/flows/Lead_Start_days_count.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Null_Check</name>
        <label>Null Check</label>
        <locationX>396</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>All_Leads_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checking_the_task_data</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_data_from_Task1.CreatedDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_First_date_from_Task</targetReference>
            </connector>
            <label>Checking the task data</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Lead Start days count {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Start days count</label>
    <loops>
        <name>All_Leads_Loop</name>
        <label>All Leads Loop</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>Get_the_data_from_Lead</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_the_data_from_Task1</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_the_data_from_Lead</name>
        <label>Get the data from Lead</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>All_Leads_Loop</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_data_from_Task1</name>
        <label>Get the data from Task1</label>
        <locationX>396</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>All_Leads_Loop.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_First_date_from_Task</name>
        <label>Update the First date from Task</label>
        <locationX>264</locationX>
        <locationY>684</locationY>
        <connector>
            <targetReference>All_Leads_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>All_Leads_Loop.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EmailBouncedDate</field>
            <value>
                <elementReference>Get_the_data_from_Task1.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_the_data_from_Lead</targetReference>
        </connector>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2024-01-11</startDate>
            <startTime>21:48:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
</Flow>
