force-app/main/default/flows/Opportunity_Course_Amount_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Opportunity Course Amount Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Course Amount Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Account_Details_Update</name>
        <label>Account Details Update</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <connector>
            <targetReference>USD_Amount_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email1_Primary__c</field>
            <value>
                <elementReference>$Record.Account.Email1_Primary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email2_Secondary__c</field>
            <value>
                <elementReference>$Record.Account.Email2_Secondary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile1_Primary__c</field>
            <value>
                <elementReference>$Record.Account.Mobile1_Primary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile2_Secondary__c</field>
            <value>
                <elementReference>$Record.Account.Mobile2_Secondary__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>INR_Amount_Update</name>
        <label>INR Amount Update</label>
        <locationX>176</locationX>
        <locationY>551</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>INR</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Course_Amount__c</field>
            <value>
                <elementReference>$Record.Course__r.Course_Amount_In_INR__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>USD_Amount_Update</name>
        <label>USD Amount Update</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>INR_Amount_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Course_Amount__c</field>
            <value>
                <elementReference>$Record.Course__r.Course_Amount_In_USD__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Account_Details_Update</targetReference>
        </connector>
        <filterLogic>((1 OR 2 ) AND 3)</filterLogic>
        <filters>
            <field>Course__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0122w000002Ib52AAC</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
