force-app/main/default/flows/PMImaterialKeyCostEmailFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>PmiMaterialKeyCostEmail</name>
        <label>PmiMaterialKeyCostEmail</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>LogACall</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Email Sent - PMI Material Key </stringValue>
            </value>
        </inputParameters>
        <nameSegment>LogACall</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>PMIMaterialKeyEmail1</name>
        <label>PMIMaterialKeyEmail</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>PmiMaterialKeyCostEmail</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>PMIMaterialKeyEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>{!$Record.Account__r.Email1_Primary__c},mentoring@infocareerindia.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>PMIMaterialKeyEmailSubj</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>PMImaterialKeyCostEmailFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PMImaterialKeyCostEmailFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PMIMaterialKeyEmail1</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PMI_Material_Key__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Date_of_Purchase__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account_Training_Information__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>PMIMaterialKeyEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.Account__r.Full_Name__c}&lt;/p&gt;&lt;p&gt;Greetings from Mentoring Division, Infocareer!!!!&lt;/p&gt;&lt;p&gt;We are sharing with you the PMI PMP Student Material key along with instruction to redeem in &lt;a href=&quot;https://pmi.lochoice.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://pmi.lochoice.com&lt;/a&gt;. Please follow the instructions carefully to ensure a smooth and successful redemption process.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;PMI PMP Material Key&lt;/strong&gt; : {!$Record.PMI_Material_Key__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Validity &lt;/strong&gt;: 15 Days&lt;/p&gt;&lt;p&gt;&lt;strong&gt;IMPORTANT&lt;/strong&gt;: Access Keys can only be used once. While using the key, please use the Local ISP Network. If the material is accessed using a VPN network, extra charges will be debited.&lt;/p&gt;&lt;p&gt;&lt;strong&gt;How To Redeem Material Key&lt;/strong&gt; :&lt;/p&gt;&lt;p&gt;Go to&lt;a href=&quot;https://pmi.lochoice.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt; https://pmi.lochoice.com&lt;/a&gt; and log in with your PMI ID. If you don&apos;t have one, click on Register to create a profile.&lt;/p&gt;&lt;p&gt;Click on Add a Course tile --&amp;gt; Enter your Access Key in the pop-up window and click ENROLL &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;--&amp;gt;&lt;/span&gt; PMI Authorized PMP Exam Prep &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;--&amp;gt; &lt;/span&gt;click the student manual option &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;--&amp;gt; &lt;/span&gt;select the PMI Authorized PMP Exam Prep Student Workbook Pdf, Module 0 to Module 6 Download &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;--&amp;gt;&lt;/span&gt; Next Go back Click Post Class Survey option &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;--&amp;gt;&lt;/span&gt; Then select the post class survey option, fill the 17 Questions survey.&lt;/p&gt;&lt;p&gt;share the screenshot of survey submit to generate the 40 Hours contact hours certificate.&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Note:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;1.	Access Keys are case sensitive.&lt;/p&gt;&lt;p&gt;2.	&lt;strong&gt;Post Class Survey 12 Question&lt;/strong&gt; : &lt;strong&gt;Institute Name&lt;/strong&gt; : Infocareer Pvt Ltd, &lt;strong&gt;Trainer Name:&lt;/strong&gt;&amp;nbsp;Lakshmi Sekhar Grandhi.&lt;/p&gt;&lt;p&gt;If you need any support, please feel free to reach us.&amp;nbsp;&lt;/p&gt;&lt;p&gt;Warm Regards,&lt;/p&gt;&lt;p&gt;{!$User.LastName}&lt;/p&gt;&lt;p&gt;Contact: 95662 61931 | 91500 58954&amp;nbsp;|&amp;nbsp;73581 45648&lt;/p&gt;&lt;p&gt;Mentoring Division, InfoCareer&lt;/p&gt;&lt;p&gt;For Any Queries / Support:&lt;/p&gt;&lt;p&gt;Email: &lt;a href=&quot;mailto:mentoring@infocareerindia.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Support&lt;/a&gt;&lt;/p&gt;&lt;p&gt;Infocareer: &lt;a href=&quot;http://www.infocareerindia.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Mentoring&lt;/a&gt;&lt;/p&gt;&lt;p&gt;WhatsApp: &lt;a href=&quot;https://wa.link/tlkm1t&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Support&lt;/a&gt;&lt;/p&gt;&lt;p&gt;YouTube:&lt;a href=&quot;https://www.youtube.com/c/Infocareer?sub_confirmation=1&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt; Subscribe &lt;/a&gt;&lt;/p&gt;&lt;p&gt;Google: &lt;a href=&quot;https://goo.gl/2Mdjyu&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Reviews&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>PMIMaterialKeyEmailSubj</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Infocareer: PMI- {!$Record.Course__r.Course_Code__c} Material Key</text>
    </textTemplates>
</Flow>
