force-app/main/default/flows/Reminder_15_Days_fee_Pending_On_ATI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>X15_Days_Reminder_Email_For_Pending_Amount</name>
        <label>15 Days Reminder Email For Pending Amount</label>
        <locationX>531</locationX>
        <locationY>274</locationY>
        <actionName>Account_Training_Information__c.ATI_Pending_Payment_15Days_alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account_Training_Information__c.ATI_Pending_Payment_15Days_alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>X15_days_Or_Not</name>
        <label>15 days Or Not</label>
        <locationX>216</locationX>
        <locationY>246</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fee_Pending_till_15_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FeePendingDays</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>15.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Applied_for_Exam__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Done</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Exam_Fee_Paid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X15_Days_Reminder_Email_For_Pending_Amount</targetReference>
            </connector>
            <label>Fee Pending till 15 Days</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FeePendingDays</name>
        <dataType>Number</dataType>
        <expression>TODAY() - {!$Record.Applied_exam_date__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Reminder 15 Days fee Pending On ATI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reminder 15 Days fee Pending On ATI</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>402</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>X15_days_Or_Not</targetReference>
        </connector>
        <object>Account_Training_Information__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-05-30</startDate>
            <startTime>10:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
