force-app/main/default/flows/Sending_Email_on_Next_Payment_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>NExtPaymentEmail</name>
        <label>NExtPaymentEmail</label>
        <locationX>314</locationX>
        <locationY>384</locationY>
        <actionName>LogACall</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Email Sent - Remainder for Pending Amount  </stringValue>
            </value>
        </inputParameters>
        <nameSegment>LogACall</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>PartialAmountemail</name>
        <label>PartialAmountemail</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <actionName>LogACall</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Email Sent - Partial Amount Received </stringValue>
            </value>
        </inputParameters>
        <nameSegment>LogACall</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>PartialPaymentReceivedEmail1</name>
        <label>PartialPaymentReceivedEmail</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>pendingEvents</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>PartialPaymentReceivedEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>{!$Record.Account__r.Email1_Primary__c},mentoring@infocareerindia.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>PartialPaymentReceivedSubj</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>pendingEvents</name>
        <label>pendingEvents</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <actionName>NewEvent</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>PartialAmountemail</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Description</name>
            <value>
                <elementReference>EventDescription</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EndDateTime</name>
            <value>
                <elementReference>$Record.Next_Payment_Date__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StartDateTime</name>
            <value>
                <elementReference>$Record.Next_Payment_Date__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Pending Amount Reminder</stringValue>
            </value>
        </inputParameters>
        <nameSegment>NewEvent</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>ReminderMail1</name>
        <label>ReminderMail</label>
        <locationX>314</locationX>
        <locationY>276</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>NExtPaymentEmail</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ReminderMail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>{!$Record.Account__r.Email1_Primary__c},mentoring@infocareerindia.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>ReminderMAilSubj</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Sending Email on Next Payment Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sending Email on Next Payment Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PartialPaymentReceivedEmail1</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Payment_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Partially Received</stringValue>
            </value>
        </filters>
        <object>Account_Payment_Information__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Email_Sending_on_Next_payment_Date</name>
            <connector>
                <targetReference>ReminderMail1</targetReference>
            </connector>
            <label>Email Sending on Next payment Date</label>
            <maxBatchSize>1</maxBatchSize>
            <offsetNumber>-1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Next_Payment_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EventDescription</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Invoice Amount: {!$Record.Invoice_Amount__c}
Amount Received: {!$Record.Amount_Received__c}
Pending Amount: {!$Record.Pending_Amount__c}</text>
    </textTemplates>
    <textTemplates>
        <name>PartialPaymentReceivedEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.Account__r.Full_Name__c},&lt;/p&gt;&lt;p&gt;Greetings From Infocareer!!!!&lt;/p&gt;&lt;p&gt;We are pleased to inform you that we have received a partial payment of amount {!$Record.Amount_Received__c} for your participation in our {!$Record.Course__r.Name}.&lt;/p&gt;&lt;p&gt;We are grateful for your commitment to our program and we look forward to receiving the balance payment. We would like to remind you that the next payment of amount {!$Record.Pending_Amount__c} is due on {!$Record.Next_Payment_Date__c}.&lt;/p&gt;&lt;p&gt;If you have any questions or concerns, please do not hesitate to contact us. We are more than happy to help.&lt;/p&gt;&lt;p&gt;Thank you again for being a part of our program.&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Warm Regards,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!$User.LastName}&lt;/p&gt;&lt;p&gt;Contact: 95662 61931 | 91500 58954&amp;nbsp;|&amp;nbsp;73581 45648&lt;/p&gt;&lt;p&gt;Mentoring Division, InfoCareer&lt;/p&gt;&lt;p&gt;For Any Queries / Support:&lt;/p&gt;&lt;p&gt;Email: &lt;a href=&quot;mailto:mentoring@infocareerindia.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Support&lt;/a&gt;&lt;/p&gt;&lt;p&gt;Infocareer: &lt;a href=&quot;http://www.infocareerindia.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Mentoring&lt;/a&gt;&lt;/p&gt;&lt;p&gt;WhatsApp: &lt;a href=&quot;https://wa.link/tlkm1t&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Support&lt;/a&gt;&lt;/p&gt;&lt;p&gt;YouTube:&lt;a href=&quot;https://www.youtube.com/c/Infocareer?sub_confirmation=1&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt; Subscribe &lt;/a&gt;&lt;/p&gt;&lt;p&gt;Google: &lt;a href=&quot;https://goo.gl/2Mdjyu&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Reviews&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>PartialPaymentReceivedSubj</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Infocareer: Payment Partially Received for {!$Record.Course__r.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>ReminderMail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.Account__r.Full_Name__c},&lt;/p&gt;&lt;p&gt;Greetings From Infocareer!!!!&lt;/p&gt;&lt;p&gt;We are pleased to inform you that we have received a partial payment of amount {!$Record.Amount_Received__c} for your participation in our {!$Record.Course__r.Name}.&lt;/p&gt;&lt;p&gt;We are grateful for your commitment to our program and we look forward to receiving the balance payment. We would like to remind you that the next payment of amount {!$Record.Pending_Amount__c} is due on {!$Record.Next_Payment_Date__c}.&lt;/p&gt;&lt;p&gt;If you have any questions or concerns, please do not hesitate to contact us. We are more than happy to help.&lt;/p&gt;&lt;p&gt;Thank you again for being a part of our program.&lt;/p&gt;&lt;p&gt;Warm Regards,&lt;/p&gt;&lt;p&gt;{!$User.LastName}&amp;nbsp;&lt;/p&gt;&lt;p&gt;Contact: 95662 61931 | 91500 58954&amp;nbsp;|&amp;nbsp;73581 45648&lt;/p&gt;&lt;p&gt;Mentoring Division, InfoCareer&lt;/p&gt;&lt;p&gt;For Any Queries / Support:&lt;/p&gt;&lt;p&gt;Email: &lt;a href=&quot;mailto:mentoring@infocareerindia.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Support&lt;/a&gt;&lt;/p&gt;&lt;p&gt;Infocareer: &lt;a href=&quot;http://www.infocareerindia.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Mentoring&lt;/a&gt;&lt;/p&gt;&lt;p&gt;WhatsApp: &lt;a href=&quot;https://wa.link/tlkm1t&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Support&lt;/a&gt;&lt;/p&gt;&lt;p&gt;YouTube:&lt;a href=&quot;https://www.youtube.com/c/Infocareer?sub_confirmation=1&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt; Subscribe &lt;/a&gt;&lt;/p&gt;&lt;p&gt;Google: &lt;a href=&quot;https://goo.gl/2Mdjyu&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Reviews&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ReminderMAilSubj</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Infocareer : Reminder For Next Payment for {!$Record.Course__r.Name}</text>
    </textTemplates>
</Flow>
