force-app/main/default/flows/TrainingCompletedEmailFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>TrainingCompletedEmail</name>
        <label>TrainingCompletedEmail</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>LogACall</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Email Sent - Training Completed </stringValue>
            </value>
        </inputParameters>
        <nameSegment>LogACall</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>TrainingCompleteEmail1</name>
        <label>TrainingCompleteEmail</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>TrainingCompletedEmail</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TrainingCompleteEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>{!$Record.Account__r.Email1_Primary__c},mentoring@infocareerindia.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TrainingCompleteEmailSubj</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>TrainingCompletedEmailFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TrainingCompletedEmailFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>TrainingCompleteEmail1</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Training_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Account_Training_Information__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>TrainingCompleteEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.Account__r.Full_Name__c},&lt;/p&gt;&lt;p&gt;Greetings from Mentoring Division, Infocareer!!!!&lt;/p&gt;&lt;p&gt;Congratulations! We are delighted to inform you that you have successfully completed the {!$Record.Course__r.Name} at Infocareer Pvt Ltd.&amp;nbsp;&lt;/p&gt;&lt;p&gt;We sincerely hope that the knowledge and experiences gained during this training will serve as a solid foundation for your future endeavors. Remember, learning is an ongoing process, and we encourage you to continue exploring new horizons in the field of project management.&lt;/p&gt;&lt;p&gt;1.	&lt;strong&gt;Trust Pilot &lt;/strong&gt;: Kindly share your feedback. &lt;a href=&quot;https://www.trustpilot.com/evaluate/www.infocareerindia.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://www.trustpilot.com/evaluate/www.infocareerindia.com&amp;nbsp;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;2.	&lt;strong&gt;PMI Material Key &lt;/strong&gt;: Will share separate email.&lt;/p&gt;&lt;p&gt;3.	&lt;strong&gt;Exam Application &lt;/strong&gt;: The first step is to submit your application for the exam.&amp;nbsp;&lt;/p&gt;&lt;p&gt;4.	&lt;strong&gt;Join Master Mind Session&lt;/strong&gt; Every Saturday 07.00 pm to 09.00 pm.&lt;/p&gt;&lt;p&gt;5.     If you have missed any session, please fill this form. On receipt of this form, we will try to schedule you in another batch for the        missed session.&amp;nbsp;&lt;a href=&quot;https://forms.office.com/r/RRaQ0CxwbB&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://forms.office.com/r/RRaQ0CxwbB&lt;/a&gt; (Virtual Session Only)&lt;/p&gt;&lt;p&gt;For any Assistance, Contact Our Mentors&lt;/p&gt;&lt;p&gt;G L Sekhar - 98400 20019&lt;/p&gt;&lt;p&gt;K. Natarajan - 88845 78092&lt;/p&gt;&lt;p&gt;If you need any Support, feel free to reach us!&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Warm Regards,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!$User.LastName}&lt;/p&gt;&lt;p&gt;Contact: 95662 61931 | 91500 58954&amp;nbsp;|&amp;nbsp;73581 45648&lt;/p&gt;&lt;p&gt;Mentoring Division, InfoCareer&lt;/p&gt;&lt;p&gt;For Any Queries / Support:&lt;/p&gt;&lt;p&gt;Email: &lt;a href=&quot;mailto:mentoring@infocareerindia.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Support&lt;/a&gt;&lt;/p&gt;&lt;p&gt;Infocareer: &lt;a href=&quot;http://www.infocareerindia.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Mentoring&lt;/a&gt;&lt;/p&gt;&lt;p&gt;WhatsApp: &lt;a href=&quot;https://wa.link/tlkm1t&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Support&lt;/a&gt;&lt;/p&gt;&lt;p&gt;YouTube:&lt;a href=&quot;https://www.youtube.com/c/Infocareer?sub_confirmation=1&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt; Subscribe &lt;/a&gt;&lt;/p&gt;&lt;p&gt;Google: &lt;a href=&quot;https://goo.gl/2Mdjyu&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Reviews&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TrainingCompleteEmailSubj</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Infocareer: {!$Record.Batch__r.Course__r.Name} Followup</text>
    </textTemplates>
</Flow>
