force-app/main/default/flows/TrustPiletFeedBackEmailFlow_prod.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>This Email Action used for when TrustPiletFeedBack=Done Send Email to the customer</description>
        <name>TrustPiletFeedBackDone</name>
        <label>TrustPiletFeedBackDone</label>
        <locationX>982</locationX>
        <locationY>389</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Account__r.Email1_Primary__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>TrustPiletFeedBackDone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <stringValue>0032w00001JYOLDAA5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00X2w000000WyBbEAK</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>This Email Action used for TrustPilet FeedBack Pending</description>
        <name>TrustPiletFeedBackPending</name>
        <label>TrustPiletFeedBackPending</label>
        <locationX>220</locationX>
        <locationY>397</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Account__r.Email1_Primary__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>TrustPiletFeedBackPending</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <stringValue>0032w00001JYOLDAA5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00X2w000000WyBcEAK</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <description>This is used for TrustPiletFeedBack based Redirecting the Email Actions</description>
        <name>IFTrustPiletFeedBack</name>
        <label>IFTrustPiletFeedBack</label>
        <locationX>576</locationX>
        <locationY>399</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IFTrustPiletFeedBackPending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Trust_Pilot_Feedback__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Trust_Pilot_Feedback__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TrustPiletFeedBackPending</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>IFTrustPiletFeedBackPending</label>
        </rules>
        <rules>
            <name>IFTrustPiletFeedBackDone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Trust_Pilot_Feedback__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Done</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Trust_Pilot_Feedback__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TrustPiletFeedBackDone</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>IFTrustPiletFeedBackDone</label>
        </rules>
    </decisions>
    <description>This the flow used for Trustpiletfeedback based(Pending,Done) Email will Trigger</description>
    <environments>Default</environments>
    <interviewLabel>TrustPiletFeedBackEmailFlow_prod {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TrustPiletFeedBackEmailFlow_prod</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>IFTrustPiletFeedBack</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email_1__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Trust_Pilot_Feedback__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account_Training_Information__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
