Genau/force-app/main/default/flows/create_a_project_from_opportunity_product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <description>if the person check the checkbox called &apos;create a project&apos; then the project should create automatically.</description>
    <formulas>
        <name>StoreOpptyProductName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name}</expression>
    </formulas>
    <formulas>
        <name>StoreProductName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Project__r.Name}</expression>
    </formulas>
    <interviewLabel>create a project from opportunity product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>create a project from opportunity product</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create a project record for opportunity product</description>
        <name>Create_a_project</name>
        <label>Create a project</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignRecordIdToReference>StoreProjectID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_the_oppty_record</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Opportunity.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>StoreOpptyProductName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_product_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__IsTemplate__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Level_of_Effort__c</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Project__c</object>
    </recordCreates>
    <recordUpdates>
        <description>update the project lookup field on oppty field</description>
        <name>Update_the_oppty_record</name>
        <label>Update the oppty record</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>StoreProjectID</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_a_project</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Create_Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Create_Project__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>StoreProjectID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
