Genau/force-app/main/default/flows/Oppty_Part_Fields_Updation_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Creteria_to_update_the_oppty_part_fields</name>
        <label>Creteria to update the oppty part fields</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Part_Recordtype</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Product2.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_Part_related_fields</targetReference>
            </connector>
            <label>If Part Recordtype</label>
        </rules>
        <rules>
            <name>If_Prototype_Recordtype</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Product2.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_Prototype_Related_fields</targetReference>
            </connector>
            <label>If Prototype Recordtype</label>
        </rules>
    </decisions>
    <interviewLabel>Oppty Part Fields Updation flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Oppty Part Fields Updation flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_the_Part_related_fields</name>
        <label>Update the Part related fields</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Part_Category__c</field>
            <value>
                <elementReference>$Record.Product2.Part_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_Prototype_Related_fields</name>
        <label>Update the Prototype Related fields</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Part_Category__c</field>
            <value>
                <elementReference>$Record.Product2.Part_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Creteria_to_update_the_oppty_part_fields</targetReference>
        </connector>
        <object>OpportunityLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
