Genau/force-app/main/default/flows/Oppty_Parts_Fields_Update_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <interviewLabel>Oppty Parts Fields Update Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Oppty Parts Fields Update Flow</label>
    <loops>
        <name>Loop_The_Get_Product_Records</name>
        <label>Loop The Get Product Records</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_the_data_from_Product_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_the_Product_Related_Values</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_the_data_from_Product_records</name>
        <label>Get the data from Product records</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_The_Get_Product_Records</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_Product_Related_Values</name>
        <label>Update the Product Related Values</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Loop_The_Get_Product_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_The_Get_Product_Records.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Loop_The_Get_Product_Records.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Part_Category__c</field>
            <value>
                <elementReference>Loop_The_Get_Product_Records.Part_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_the_data_from_Product_records</targetReference>
        </connector>
        <object>OpportunityLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
