Genau/force-app/main/default/flows/Order_Creation_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_to_collection_variable</name>
        <label>Add to collection variable</label>
        <locationX>828</locationX>
        <locationY>513</locationY>
        <assignmentItems>
            <assignToReference>createOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AssaignValuetoRcord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>substract_the_value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assaign_Value_to_Rcord</name>
        <label>Assaign Value to Rcord</label>
        <locationX>819</locationX>
        <locationY>373</locationY>
        <assignmentItems>
            <assignToReference>AssaignValuetoRcord.ContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssaignValuetoRcord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract__r.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssaignValuetoRcord.EffectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract__r.StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssaignValuetoRcord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssaignValuetoRcord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012Ip000000L37HIAS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssaignValuetoRcord.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.Pricebook2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssaignValuetoRcord.Opportunity_product_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection_variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>substract_the_value</name>
        <label>substract the value</label>
        <locationX>725</locationX>
        <locationY>748</locationY>
        <assignmentItems>
            <assignToReference>NoOfTerms</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Num_Of_terms_value_decision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Num_Of_terms_value_decision</name>
        <label>Num Of terms value decision</label>
        <locationX>564</locationX>
        <locationY>432</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_NoOfTermsValue_Greater_Than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoOfTerms</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assaign_Value_to_Rcord</targetReference>
            </connector>
            <label>If NoOfTermsValue Greater Than 0</label>
        </rules>
        <rules>
            <name>No_OfTerms_Equal_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoOfTerms</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_Order_records</targetReference>
            </connector>
            <label>No OfTerms Equal 0</label>
        </rules>
    </decisions>
    <description>Order Creation flow based on contract terms</description>
    <interviewLabel>Order Creation flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Creation flow</label>
    <loops>
        <name>Looping_the_orders</name>
        <label>Looping the orders</label>
        <locationX>511</locationX>
        <locationY>1133</locationY>
        <collectionReference>Get_contract_related_orders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_a_order_product</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_a_order_product</name>
        <label>Create a order product</label>
        <locationX>507</locationX>
        <locationY>1346</locationY>
        <connector>
            <targetReference>Looping_the_orders</targetReference>
        </connector>
        <inputAssignments>
            <field>OrderId</field>
            <value>
                <elementReference>Looping_the_orders.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>$Record.PricebookEntry.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>$Record.Product2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>$Record.Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>$Record.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_Order_records</name>
        <label>create Order records</label>
        <locationX>498</locationX>
        <locationY>768</locationY>
        <connector>
            <targetReference>Get_contract_related_orders</targetReference>
        </connector>
        <inputReference>createOrder</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_contract_related_orders</name>
        <label>Get contract related orders</label>
        <locationX>506</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Looping_the_orders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contract__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_The_number_of_terms</name>
        <label>Get The number of terms</label>
        <locationX>298</locationX>
        <locationY>463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Num_Of_terms_value_decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contract__r.Id</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputAssignments>
            <assignToReference>NoOfTerms</assignToReference>
            <field>ContractTerm</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>190</locationX>
        <locationY>23</locationY>
        <connector>
            <targetReference>Get_The_number_of_terms</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Create_Sale_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Create_Sale_Order__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AssaignValuetoRcord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>createOrder</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>NoOfTerms</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
