Genau/force-app/main/default/flows/Order_Activation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <description>Once the user check the checkbox on create a project, then the project would be get create  with phases and Tasks</description>
    <formulas>
        <name>StoreOpptyProductName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name}</expression>
    </formulas>
    <interviewLabel>Order Activation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create a Project with Phases &amp; Tasks</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_a_Task_4_from_phase_4</name>
        <label>Task 5 from phase 4 - Initial Production Shipment</label>
        <locationX>176</locationX>
        <locationY>5615</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Initial Production Shipment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Phaseid4</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create a project record for opportunity product</description>
        <name>Create_a_Project</name>
        <label>Create a Project</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignRecordIdToReference>StoreProjectID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_the_oppty_record</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Opportunity.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>StoreOpptyProductName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_product_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__IsTemplate__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Level_of_Effort__c</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Project__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Task_10_from_phase_2</name>
        <label>Task 10 from phase 2 - Work Instructions and SOP&apos;s</label>
        <locationX>176</locationX>
        <locationY>2807</locationY>
        <connector>
            <targetReference>Create_a_Task_11_from_phase_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Work Instructions and SOP&apos;s</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Phase2id</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Task_10_from_phase_3</name>
        <label>Task 10 from phase 3 - Process Audit</label>
        <locationX>176</locationX>
        <locationY>4643</locationY>
        <connector>
            <targetReference>Create_a_Task_11_from_phase_3</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Process Audit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Phase3id</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Task_11_from_phase_2</name>
        <label>Task 11 from phase 2 - Packaging Data Sheet</label>
        <locationX>176</locationX>
        <locationY>2915</locationY>
        <connector>
            <targetReference>Create_a_Task_12_from_phase_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Packaging Data Sheet</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Phase2id</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Task_11_from_phase_3</name>
        <label>Task 11 from phase 3 - PPAP Submission and Approval</label>
        <locationX>176</locationX>
        <locationY>4751</locationY>
        <connector>
            <targetReference>Create_a_Task_12_from_phase_3</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>PPAP Submission and Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Phase3id</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Task_12_from_phase_2</name>
        <label>Task 12 from phase 2 - Measurement Systems Analysis (MSA) Plan</label>
        <locationX>176</locationX>
        <locationY>3023</locationY>
        <connector>
            <targetReference>Create_a_Task_13_from_phase_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Measurement Systems Analysis (MSA) Plan</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Phase2id</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Task_12_from_phase_3</name>
        <label>Task 12 from phase 3 - Production Control Plan</label>
        <locationX>176</locationX>
        <locationY>4859</locationY>
        <connector>
            <targetReference>Create_a_Task_13_from_phase_3</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Production Control Plan</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Phase3id</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Task_13_from_phase_2</name>
        <label>Task 13 from phase 2 - Preliminary Capability Study Plan( Machine / Process)</label>
        <locationX>176</locationX>
        <locationY>3131</locationY>
        <connector>
            <targetReference>Create_a_Task_14_from_phase_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Preliminary Capability Study Plan( Machine / Process)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Phase2id</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Task_13_from_phase_3</name>
        <label>Task 13 from phase 3 - Project Transfer sign-off sheet  (Project hand over to production)</label>
        <locationX>176</locationX>
        <locationY>4967</locationY>
        <connector>
            <targetReference>Phase4Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Project Transfer sign-off sheet  (Project hand over to production)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Is_Milestone__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Phase3id</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Task_14_from_phase_2</name>
        <label>Task 14 from phase 2 - Tool Design / Drawings (Release BOM)</label>
        <locationX>176</locationX>
        <locationY>3239</locationY>
        <connector>
            <targetReference>Create_a_Task_15_from_phase_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Tool Design / Drawings (Release BOM)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Phase2id</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Task_15_from_phase_2</name>
        <label>Task 15 from phase 2 - Tool Manufacturing</label>
        <locationX>176</locationX>
        <locationY>3347</locationY>
        <connector>
            <targetReference>Create_a_Task_16_from_phase_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Tool Manufacturing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Phase2id</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Task_16_from_phase_2</name>
        <label>Task 16 from phase 2 - New Gauges / Fixtures requirements procured</label>
        <locationX>176</locationX>
        <locationY>3455</locationY>
        <connector>
            <targetReference>Phase3Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>New Gauges / Fixtures requirements procured</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Phase2id</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Task_1_from_Phase_3</name>
        <label>Task 1 from Phase 3 - Raw Material Incoming</label>
        <locationX>176</locationX>
        <locationY>3671</locationY>
        <connector>
            <targetReference>Create_a_Task_2_from_phase_3</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Raw Material Incoming</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Phase3id</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Task_1_from_phase_4</name>
        <label>Task 4 from Phase 3 - Project Transfer</label>
        <locationX>176</locationX>
        <locationY>5507</locationY>
        <connector>
            <targetReference>Copy_1_of_Create_a_Task_4_from_phase_4</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Project Transfer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Is_Milestone__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Phaseid4</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Task_2_from_phase_2</name>
        <label>Task 2 from phase 2 - Engineering Drawings (Process drawings,Stage drawings)</label>
        <locationX>176</locationX>
        <locationY>1943</locationY>
        <connector>
            <targetReference>Create_a_Task_3_from_phase_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Engineering Drawings (Process drawings,Stage drawings)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Phase2id</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Task_2_from_phase_3</name>
        <label>Task 2 from phase 3 - Preparation of Development Plan (Micro Plan)</label>
        <locationX>176</locationX>
        <locationY>3779</locationY>
        <connector>
            <targetReference>Create_a_Task_3_from_phase_3</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Preparation of Development Plan (Micro Plan)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Phase3id</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Task_2_from_phase_4</name>
        <label>Task 1 from phase 4 - Production Ramp-Up plan</label>
        <locationX>176</locationX>
        <locationY>5183</locationY>
        <connector>
            <targetReference>Create_a_Task_3_from_phase_4</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Production Ramp-Up plan</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Phaseid4</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Task_3_from_phase_2</name>
        <label>Task 3 from phase 2 - Special characteristics list (SC &amp; CC)</label>
        <locationX>176</locationX>
        <locationY>2051</locationY>
        <connector>
            <targetReference>Create_a_Task_4_from_phase_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Special characteristics list (SC &amp; CC)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Phase2id</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Task_3_from_phase_3</name>
        <label>Task 3 from phase 3 - Sample Trails  (Forging,M/C,H/T etc..)</label>
        <locationX>176</locationX>
        <locationY>3887</locationY>
        <connector>
            <targetReference>Create_a_Task_4_from_phase_3</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Sample Trails  (Forging,M/C,H/T etc..)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Phase3id</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Task_3_from_phase_4</name>
        <label>Task 2 from phase 4 - Full Production Date</label>
        <locationX>176</locationX>
        <locationY>5291</locationY>
        <connector>
            <targetReference>Create_a_Task_4_from_phase_4</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Full Production Date</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Phaseid4</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Task_4_from_Phase_1</name>
        <label>Task 10 from Phase 1 Lesson Learnt &amp; Past defect history</label>
        <locationX>176</locationX>
        <locationY>1619</locationY>
        <connector>
            <targetReference>Phase2Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Lesson Learnt &amp; Past defect history</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Phaseid</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Task_4_from_phase_2</name>
        <label>Task 4 from phase 2 - Raw Material Plan and Order</label>
        <locationX>176</locationX>
        <locationY>2159</locationY>
        <connector>
            <targetReference>Create_a_Task_5_from_phase_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Raw Material Plan and Order</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Phase2id</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Task_4_from_phase_3</name>
        <label>Task 4 from phase 3 - Sample Inspection</label>
        <locationX>176</locationX>
        <locationY>3995</locationY>
        <connector>
            <targetReference>Create_a_Task_5_from_phase_3</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Sample Inspection</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Phase3id</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Task_4_from_phase_4</name>
        <label>Task 3 from phase 4 - Conduct Lessons Learned</label>
        <locationX>176</locationX>
        <locationY>5399</locationY>
        <connector>
            <targetReference>Create_a_Task_1_from_phase_4</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Conduct Lessons Learned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Phaseid4</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Task_5_from_Phase_1</name>
        <label>Task 4 from Phase 1 Technical Discussion With Customer</label>
        <locationX>176</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Create_Records_5</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Technical Discussion With Customer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Phaseid</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Task_5_from_phase_2</name>
        <label>Task 5 from phase 2 - New Gauges / Fixtures requirements established</label>
        <locationX>176</locationX>
        <locationY>2267</locationY>
        <connector>
            <targetReference>Create_a_Task_6_from_phase_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>New Gauges / Fixtures requirements established</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Phase2id</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Task_5_from_phase_3</name>
        <label>Task 5 from phase 3 - Sample Submission</label>
        <locationX>176</locationX>
        <locationY>4103</locationY>
        <connector>
            <targetReference>Create_a_Task_6_from_phase_3</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Sample Submission</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Is_Milestone__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Phase3id</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Task_6_from_Phase_1</name>
        <label>Task 8 from Phase 1 Feasibility Details on Mfg and Agreement of Inspection</label>
        <locationX>176</locationX>
        <locationY>1403</locationY>
        <connector>
            <targetReference>Create_a_Task_from_Phase_3</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Feasibility Details on Mfg and Agreement of Inspection </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Phaseid</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Task_6_from_phase_2</name>
        <label>Task 6 from phase 2 - Resource Planning  (Test Equipment and Other Facilities req. )</label>
        <locationX>176</locationX>
        <locationY>2375</locationY>
        <connector>
            <targetReference>Create_a_Task_7_from_phase_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Resource Planning  (Test Equipment and Other Facilities req.)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Phase2id</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Task_6_from_phase_3</name>
        <label>Task 6 from phase 3 - Production Trail Run (PTR) OR Pilot-Lot Run</label>
        <locationX>176</locationX>
        <locationY>4211</locationY>
        <connector>
            <targetReference>Create_a_Task_7_from_phase_3</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Production Trail Run (PTR) OR Pilot-Lot Run</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Phase3id</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Task_7_from_Phase_1</name>
        <label>Task 7 from Phase 1 Formation of Team &amp; Define Scope</label>
        <locationX>176</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Create_a_Task_6_from_Phase_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Formation of Team &amp; Define Scope</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Phaseid</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Task_7_from_phase_2</name>
        <label>Task 7 from phase 2 - Process Flow Diagram (PFD)</label>
        <locationX>176</locationX>
        <locationY>2483</locationY>
        <connector>
            <targetReference>Create_a_Task_8_from_phase_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Process Flow Diagram (PFD)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Phase2id</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Task_7_from_phase_3</name>
        <label>Task 7 from phase 3 - Measurement Systems Analysis (MSA) Evaluation</label>
        <locationX>176</locationX>
        <locationY>4319</locationY>
        <connector>
            <targetReference>Create_a_Task_8_from_phase_3</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Measurement Systems Analysis (MSA) Evaluation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Phase3id</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Task_8_from_phase_2</name>
        <label>Task 8 from phase 2 - PFMEA</label>
        <locationX>176</locationX>
        <locationY>2591</locationY>
        <connector>
            <targetReference>Create_a_Task_9_from_phase_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>PFMEA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Phase2id</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Task_8_from_phase_3</name>
        <label>Task 8 from phase 3 - Capability Evaluation (Process / Machine)</label>
        <locationX>176</locationX>
        <locationY>4427</locationY>
        <connector>
            <targetReference>Create_a_Task_9_from_phase_3</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Capability Evaluation (Process / Machine)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Phase3id</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Task_9_from_phase_2</name>
        <label>Task 9 from phase 2 -  Pre-Launch Control Plan</label>
        <locationX>176</locationX>
        <locationY>2699</locationY>
        <connector>
            <targetReference>Create_a_Task_10_from_phase_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue> Pre-Launch Control Plan</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Phase2id</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Task_9_from_phase_3</name>
        <label>Task 9 from phase 3 - Run @ Rate</label>
        <locationX>176</locationX>
        <locationY>4535</locationY>
        <connector>
            <targetReference>Create_a_Task_10_from_phase_3</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Run @ Rate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Phase3id</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Task_from_phase</name>
        <label>Task 1 from phase 2  Open Point List (OPL) Discussion</label>
        <locationX>176</locationX>
        <locationY>1835</locationY>
        <connector>
            <targetReference>Create_a_Task_2_from_phase_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue> Open Point List (OPL) Discussion </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Phase2id</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_TASK_from_phase_2</name>
        <label>TASK 6 from phase 1 Project Organization Chart</label>
        <locationX>176</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Create_a_Task_7_from_Phase_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Project Organization Chart</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Phaseid</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Task_from_Phase_3</name>
        <label>Task 9 from Phase 1 Team Feasiblity Commitment</label>
        <locationX>176</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>Create_a_Task_4_from_Phase_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Team Feasiblity Commitment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Phaseid</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Records_5</name>
        <label>Task 5 from Phase 1 Kick - Off Meeting</label>
        <locationX>176</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>Create_a_TASK_from_phase_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Kick - Off Meeting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Phaseid</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>phase1Create</name>
        <label>&quot;PHASE - I&quot; Plan &amp; Define Program&quot;</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignRecordIdToReference>Phaseid</assignRecordIdToReference>
        <connector>
            <targetReference>Task_1_from_Phase_1_RFQ_recieve_from_Marketing</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Plan &amp; Define Program</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Project__c</field>
            <value>
                <elementReference>StoreProjectID</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Phase__c</object>
    </recordCreates>
    <recordCreates>
        <name>Phase2Record</name>
        <label>PHASE - II-Process Design   &amp; Development</label>
        <locationX>176</locationX>
        <locationY>1727</locationY>
        <assignRecordIdToReference>Phase2id</assignRecordIdToReference>
        <connector>
            <targetReference>Create_a_Task_from_phase</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Process Design &amp; Development</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Project__c</field>
            <value>
                <elementReference>StoreProjectID</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Phase__c</object>
    </recordCreates>
    <recordCreates>
        <name>Phase3Record</name>
        <label>PHASE - III Product &amp; Process Validation</label>
        <locationX>176</locationX>
        <locationY>3563</locationY>
        <assignRecordIdToReference>Phase3id</assignRecordIdToReference>
        <connector>
            <targetReference>Create_a_Task_1_from_Phase_3</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue> Product &amp; Process Validation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Project__c</field>
            <value>
                <elementReference>StoreProjectID</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Phase__c</object>
    </recordCreates>
    <recordCreates>
        <name>Phase4Record</name>
        <label>PHASE - IV Feedback,  Assessment &amp; Corrective Actions</label>
        <locationX>176</locationX>
        <locationY>5075</locationY>
        <assignRecordIdToReference>Phaseid4</assignRecordIdToReference>
        <connector>
            <targetReference>Create_a_Task_2_from_phase_4</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Feedback,  Assessment &amp; Corrective Actions</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Project__c</field>
            <value>
                <elementReference>StoreProjectID</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Phase__c</object>
    </recordCreates>
    <recordCreates>
        <name>Task_1_from_Phase_1_RFQ_recieve_from_Marketing</name>
        <label>Task 1 from Phase 1  RFQ recieve from Marketing</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Task_2_from_Phase_1_RFQ_Feasiblity_date</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue> RFQ recieve from Marketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Phaseid</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task_2_from_Phase_1_RFQ_Feasiblity_date</name>
        <label>Task 2 from Phase 1  RFQ Feasiblity date</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Task_3_from_Phase_1_Product_release_note_receive_from_Marketing</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue> RFQ Feasiblity date</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Phaseid</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task_3_from_Phase_1_Product_release_note_receive_from_Marketing</name>
        <label>Task 3 from Phase 1  Product release note receive from Marketing</label>
        <locationX>176</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Create_a_Task_5_from_Phase_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue> Product release note receive from Marketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Phaseid</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <description>update the project lookup field on oppty field</description>
        <name>Update_the_oppty_record</name>
        <label>Update the oppty record</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>phase1Create</targetReference>
        </connector>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>StoreProjectID</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_a_Project</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Create_Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Create_Project__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NoOfPhases</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OrderId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>Phase2id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Phase3id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>phase4id</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>inov8__PMT_Phase__c</objectType>
    </variables>
    <variables>
        <name>Phaseid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Phaseid4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>ProjectCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>inov8__PMT_Project__c</objectType>
    </variables>
    <variables>
        <name>ProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>storeorderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoreProjectID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
