Genau/force-app/main/default/flows/Project_update_on_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Decision_for_Quantity_of_order</name>
        <label>Decision for Quantity of order</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sample_Quantity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sample_Quantity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_Project_Quantity</targetReference>
            </connector>
            <label>Sample Quantity</label>
        </rules>
        <rules>
            <name>PPAP_Quantity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PPAP_Quantity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_PPAP_Quantity</targetReference>
            </connector>
            <label>PPAP Quantity</label>
        </rules>
        <rules>
            <name>Ramp_Up_Quantity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Ramp_Up_Quantity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_Ramp_Up_Quantity</targetReference>
            </connector>
            <label>Ramp Up Quantity</label>
        </rules>
    </decisions>
    <interviewLabel>Project update on Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project update on Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_the_project_data</name>
        <label>Get the project data</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Records_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_product_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity_product_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>inov8__PMT_Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Update Records 1</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Decision_for_Quantity_of_order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_product_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_the_project_data.Opportunity_product_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>Get_the_project_data.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_PPAP_Quantity</name>
        <label>Update the PPAP Quantity</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PPAP_Quantity__c</field>
            <value>
                <elementReference>$Record.PPAP_Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_Project_Quantity</name>
        <label>Update the Project Quantity</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sample_Quantity__c</field>
            <value>
                <elementReference>$Record.Sample_Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_Ramp_Up_Quantity</name>
        <label>Update the Ramp Up Quantity</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Ramp_Up_Quantity__c</field>
            <value>
                <elementReference>$Record.Ramp_Up_Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Project__c</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_the_project_data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
